* {
  margin: 0;
  padding: 0;
}

.notepage {
  background-color: #222;
  height: 100vh;
  width: 1000px;
  overflow: auto;
  margin: auto;
  margin-top: 100px;
  display: flex;
}

.add-note {
  margin: 20px;
  width: 400px;
  height: 100vh;
  overflow: auto;
  border: 1px solid #fff017;
}
.note-header {
  color: #fff017;
  text-align: center;
  margin: 10px 0 20px 0;
}
.note-btn,
.delete-btn,
.add-btn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}
.delete-btn {
  margin: 0 10px 0 10px;
}
.add-btn {
  margin-top: 10px;
}
.note-btn:hover,
.delete-btn:hover,
.add-btn:hover {
  background-color: #fff017;
  color: #000;
  font-weight: bold;
}

.sidebar-note-title {
  margin: 10px 10px 0 0;
}

/* styles for main.jsx*/

.main-note-edit {
  display: grid;
  width: 500px;
  margin-top: 20px;
}
.main-note-edit input {
  padding: 10px;
}
.main-note-edit input,
.main-note-edit textarea {
  border: none;
  border: 1px solid #fff017;
  margin-bottom: 20px;
}
